{% extends "base.html"%} {% block content%} {% if user.is_authenticated %}
<center>
  <h1>Add event To DataBase</h1>
  <br /><br />
  {% if submitted %} your Venue Was Submitted Sucessfully! {% else %}
  <form action="" method="POST">
    {% csrf_token %}
    <!--this for secirity purpose hacker cant hack this forms easily!!-->

    {{form.as_p}}
    <input type="submit" value="Submit" class="btn btn-secondary" />
  </form>
  {% endif %}
</center>
{% else %}
<h1>oops! didn't loged in...</h1>
{% endif %} {%endblock %}
